@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sharpslab-bold';
    src: url('/fonts/SharpSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'zillaslap-bold';
    src: url('/fonts/ZillaSlab-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'DINPro-Light';
    src: url('/fonts/DINPro-Light/DINPro-Light.otf') format('truetype');
}

body {
    font-family: 'DINPro-Light', sans-serif;
}
